// Float Utilities




// Dependencies:
//   Settings.Default
//   Settings.Breakpoint




// Options

$iota-float                 : true;
$iota-float--res            : false !default;
$iota-float-left-namespace  : 'float-left' !default;
$iota-float-right-namespace : 'float-right' !default;




.#{$iota-utility-namespace}#{$iota-float-left-namespace} {
  float: left !important;
}

.#{$iota-utility-namespace}#{$iota-float-right-namespace} {
  float: right !important;
}




// Responsive Float Utilities

@if ($iota-float--res == true) {

  @each $name, $size in $iota-breakpoint-sizes {

    @media #{$size} {
    
      .#{$iota-utility-namespace}#{$iota-float-left-namespace}\@#{$name} {
        float: left !important;
      }

      .#{$iota-utility-namespace}#{$iota-float-right-namespace}\@#{$name} {
        float: right !important;
      }

    }

  }
  
}
